.item {
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;

    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item-icons {
    width: 80px;

    display: flex;
    justify-content: space-between;
}

.item-icons img {
    cursor: pointer;
}